# Virtual environment
.venv/

# Cloud Custodian output
.output/

# Grafana runtime data (THIS FIXES YOUR ERROR)
visualization/grafana-data/

# Terraform state
terraform/.terraform/
terraform/plan.tfplan
terraform/plan.json

# Python cache
__pycache__/
*.pyc